{% extends "logbase.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% load static %}

<div class="lc-block toggled" id="l-register">

      <a href="/" style="font-size:18px">
                <img src="{% static 'img/login-logo.svg' %}" alt="client" style="width:145px;">
                </a><br><br>


    <h3>{% trans "Password Reset" %}</h3>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
