{% extends "logbase.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

{% load static %}

<div class="lc-block toggled" id="l-register">

      <a href="/" style="font-size:18px">
                 <img src="{% static 'img/login-logo.svg' %}" alt="client" style="width:145px;"></a><br>
           <br>



    <h3>{% trans "Change Password" %}</h3>
    <p>{% trans 'Your password is now changed.Please back to Homepage' %}</p>


 <a href="/" style="font-size:30px;"> <i class="tm-icon zmdi zmdi-home"></i></a>                  


    </div>
{% endblock %}
