{% extends "logbase.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

{% load static %}

 <div class="lc-block toggled" id="l-register">

      <a href="/" style="font-size:18px">
                 <img src="{% static 'img/login-logo.svg' %}" alt="client" style="width:145px;">
      </a><br>
           <br>

    <h3>Password Reset</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        
    <div class="input-group m-b-20">
      <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
          {{form.email}} 
            
        </div>
    </div>

    <div> <p style="color:red;">{{ form.email.errors.as_text }}</p></div>


    <!-- {{ form.as_p }} -->

    <button class="btn btn-login btn-success btn-float" type="submit" ><i class="zmdi zmdi-arrow-forward"></i></button>


    <!--   <input type="submit" value="{% trans 'Reset My Password' %}" />  -->   

    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    <a href="/accounts/login/">Login</a> 



<!-- <a href="/accounts/login/"><button class="btn btn-login1 btn-primary btn-float" type="submit" ><i class="zmdi zmdi-arrow-left"></i></button></a> --> 
 </div>

     </div>
{% endblock %}
