{% extends "logbase.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load static %}

<div class="lc-block toggled" id="l-register">

      <a href="/tco/architecture">
                 <img src="{% static 'img/login-logo.svg' %}" alt="client" style="width:145px;">
                </a><br>
           <br>


    <h3>{% trans "Change Password" %}</h3><br/>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        
          <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-lock-open"></i></span>
              <div class="fg-line">

              {{form.oldpassword}}   

              </div>
          </div>

          <div> <p style="color:red;">{{ form.oldpassword.errors.as_text }}</p></div>






          <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-lock-outline"></i></span>
              <div class="fg-line">

              {{form.password1}}   

              </div>
          </div>

          <div> <p style="color:red;">{{ form.password1.errors.as_text }}</p></div>




          <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-lock-outline"></i></span>
              <div class="fg-line">

              {{form.password2}}   

              </div>
          </div>

          <div> <p style="color:red;">{{ form.password2.errors.as_text }}</p></div>












<button class="btn btn-login btn-success btn-float" type="submit"><i class="zmdi zmdi-arrow-forward"></i></button>


        <!-- <button type="submit" name="action">{% trans "Change Password" %}</button> -->
    </form>
  <a href="/tco/architecture/">Back</a>                  
  
    
    </div>
{% endblock %}
