{% extends "base.html" %}
{%load static%}
{% block content%}

      <div class="" id="main-container">  
        <div class="" id="profile-main" style="background-color:#f8f8f8;">

           




<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>


 <div class="pmb-block">
  <div class="pmbb-body clearfix">             
    <div role="tabpanel">
       
      <ul class="tab-nav tab-nav-left" role="tablist">       
      </ul>
       <h4 class="text-center text-uppercase f-20 ital">APPLICATIONS</h4>

    <div class="tab-content">
                
    <!-- application Architectures  -->
    <div role="tabpanel" class="active arch_img tab-pane" id="messages1">

     <div class="col-md-12">
      {% for i in app %}
      
      <div class="col-md-3 scrollReveal sr-bottom sr-delay-1" style="padding:20px; height:250px;width:230px;">
    
        <div class="card blog-post profile-view z-depth-1 appmodel">
                  
          <div class="bp-header">
            
            <img id="{{ i.id }}" src="/../static/media/{{ i.architecture_img }}" data-toggle="modal" href="#modalDefault" id="{{i.architecture_name}}"  alt="" class="info-popup">

              <div class="pv-header">
             <!--  <img src="{% static 'img/applications/wordpress.jpg' %}" class="pv-main" alt=""> -->
              </div>

            <div class="bp-title bgm-blue bghov" id="idtest">
                
              <h2 class="c-white f-16">{{i.architecture_name}}</h2><br/>
               <br/>

             <a id="{{i.architecture_name}}" data-toggle="modal" href="#modalDefault" class="brd-2 f-14" style="color:#fff;" ><b>&nbsp;INFO&nbsp;</b></a>

              <a href="/tco/ftrd-for-arch/{{ i.id }}/" class="pv-follow-btn f-14" id="{{ i.id }}" style="color:#fff;float:right;">
              <b>&nbsp;SELECT&nbsp;</b>
            </a>

            </div>
               
          </div>
          
      </div>
      
    </div>
     {% endfor %}  
  </div>

    
      </div>

              <!--end  Application Architectures  -->


                                    
          </div>
        </div>

      </div>
    </div>


    </div>
</div>



 <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true">

                 <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header bgm-yell">
                  <h4 class="modal-title c-white f-20 text-center"> Architecture Name
                  <a class="btn btn-link f-400 c-white p-t-0" data-dismiss="modal" style="float:right;font-size:22px">X</a></h4> 
                  
                   
              </div>
                                     

            <div class="modal-body p-0">
             
              
                <div class="p-0">
                  <img  src="{% static 'media/architectures/2016-12-06_3.png' %}" style="display:block;margin:auto;" width="350px;" height="350px;"   class="nextBtn btn-lg " data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"/>
                </div>

                 <div class="bgm-blue c-white">
                 <p class="p-l-15 p-5">Description about this Architecture will be displayed here</p></div>

            <div class="col-md-12">
                         <div class="col-md-6 p-l-0 p-r-5">
                            <ul class="p-l-5">

            <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Instance_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Instance) &nbsp;:</strong> &nbsp;
              <ul class="">
                  <li>
                    ---
                   </li>
                {%for instance in plan_info.instance_name %}
                  <li>
                    {{instance.0}}
                   </li>
                  {%endfor%}
                </ul>
            </li>
            
 <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/Storage_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Storage) &nbsp;:</strong>&nbsp; 
              <ul class="">
              <li>
                    ---
                   </li>
                {%for instance in plan_info.s3_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>

              </li>
           

</ul></div>
      <div class="col-md-6 p-l-0 p-r-5">    

<ul class="p-r-0">
 <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Database_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Database) &nbsp;:</strong> &nbsp;
                  <ul class="">
                  <li>
                    ---
                   </li>
                {%for instance in plan_info.rds_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>
            </li>
           

            <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/LoadBalancer_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Load_Balancer)&nbsp; :</strong>
              <ul class="">
              <li>
                    ---
                   </li>
                {%for instance in plan_info.balancer_name %}
                  <li>
                    {{instance.0}}
                 </li>
                 {%endfor%}
                </ul> 
               
              </li>



          </ul></div>
          </div>
                                           
                                          </div>



                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!-- Model -->
<!-- animation and preloader js -->

  




       {%endblock%}


