{%extends "base.html"%}
{%load static%}
{% block content%}
  
                   <div class="container p-t-30" >

                    <div class="block-header">
                        <h2>Messages</h2>
                    </div>
                    
                <div class="card">
                    <div class="card m-b-0" id="messages-main">
                        
                        <div class="ms-menu">
                            <div class="ms-block">
                                <div class="ms-user">
                                {% for c in custom %}

                                    {% if c.profile_img %}
                                     <img src="/static/media/{{c.profile_img}}" alt="">

                                    {% else %}

                                     <img src="/static/media/{{c.profile_img}}" alt="">
                                    {% endif %}

                                {% endfor %}

                                    <div>Signed in as <br/> {{request.user.email}}</div>
                                </div>
                            </div>
                            
                            <div class="ms-block">
                                <div class="dropdown">
                                    <a class="btn btn-primary btn-block" href="" data-toggle="dropdown">Messages <i class="caret m-l-5"></i></a>

                                    <ul class="dropdown-menu dm-icon w-100">
                                        <li><a href=""><i class="zmdi zmdi-email"></i> Messages</a></li>
                                        <li><a href=""><i class="zmdi zmdi-account"></i> Contacts</a></li>
                                        <li><a href=""><i class="zmdi zmdi-format-list-bulleted"> </i>Todo Lists</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="listview lv-user m-t-20">
                                <div class="lv-item media active">
                                    <div class="lv-avatar pull-left">
                                        <img src="{% static 'img/profile-pics/8.jpg' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Davil Parnell</div>
                                        <div class="lv-small">Fierent fastidii recteque ad pro</div>
                                    </div>
                                </div>
                                
                                <div class="lv-item media">
                                    <div class="lv-avatar bgm-red pull-left">a</div>
                                    <div class="media-body">
                                        <div class="lv-title">Ann Watkinson</div>
                                        <div class="lv-small">Cum sociis natoque penatibus </div>
                                    </div>
                                </div>
                                
                                <div class="lv-item media">
                                    <div class="lv-avatar bgm-orange pull-left">m</div>
                                    <div class="media-body">
                                        <div class="lv-title">Marse Walter</div>
                                        <div class="lv-small">Suspendisse sapien ligula</div>
                                    </div>
                                </div>
                                
                               
                                
                                
                               
                                
                               
                                
                                
                                
                            </div>

                            
                        </div>
                        
                        <div class="ms-body">
                            <div class="listview lv-message">
                                <div class="lv-header-alt clearfix">
                                    <div id="ms-menu-trigger">
                                        <div class="line-wrap">
                                            <div class="line top"></div>
                                            <div class="line center"></div>
                                            <div class="line bottom"></div>
                                        </div>
                                    </div>

                                    <div class="lvh-label hidden-xs">
                                        <div class="lv-avatar pull-left">
                                            <img src="{% static 'img/profile-pics/8.jpg' %}" alt="">
                                        </div>
                                        <span class="c-black">{{request.user.username}}</span>
                                    </div>
                                    
                                    <ul class="lv-actions actions">
                                        <li>
                                            <a href="">
                                                <i class="zmdi zmdi-delete"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="zmdi zmdi-check"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="zmdi zmdi-time"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                                <i class="zmdi zmdi-sort"></i>
                                            </a>
                                
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="">Latest</a>
                                                </li>
                                                <li>
                                                    <a href="">Oldest</a>
                                                </li>
                                            </ul>
                                        </li>                             
                                        <li class="dropdown">
                                            <a href="" data-toggle="dropdown" aria-expanded="true">
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>
                                
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="">Refresh</a>
                                                </li>
                                                <li>
                                                    <a href="">Message Settings</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                

                        <div class="lv-body c-overflow" 
                        style="min-height:300px;max-height:600px;overflow-y: auto;">
                         
                                    {%for cht in chating %}
                                    
                                    {% if cht.usermsg %}
                                    <div class="lv-item media">
                                        <div class="lv-avatar pull-left">
                                            <img src="{% static 'img/profile-pics/8.jpg' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="ms-item"id="user-inpt">
                                                {{cht.usermsg}}
                                            </div>
                                            <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:00</small>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%if cht.botmsg %}
                                    <div class="lv-item media right">
                                        <div class="lv-avatar pull-right">
                                            <img src="{% static 'img/bot.png' %}" alt="">
                                        </div>
                                        <div class="media-body">

                                            <div class="ms-item">

                                               {{cht.botmsg}}
                                            </div>
                                            <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:30</small>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                
                                        </div>

                                <div class="lv-footer ms-reply" id="chat-send">
                                    <textarea placeholder="What's on your mind..."></textarea>
                                    
                                    <button ><i class="zmdi zmdi-mail-send"></i></button>
                                   
                                </div>
                            </div>
                        </div>
                    




                    </div>
                </div>


    </div>
</div>

<script type="text/javascript">
    
var textarea = $('#textarea');
var typingStatus = $('#typing_on');
var lastTypedTime = new Date(0); // it's 01/01/1970
var typingDelayMillis = 5000; // how long user can "think about his spelling" before we show "No one is typing -blank space." message

function refreshTypingStatus() {
    if (!textarea.is(':focus') || textarea.val() == '' || new Date().getTime() - lastTypedTime.getTime() > typingDelayMillis) {
        typingStatus.html('No one is typing -blank space.');
    } else {
        typingStatus.html('User is typing...');
    }
}
function updateLastTypedTime() {
    lastTypedTime = new Date();
}

setInterval(refreshTypingStatus, 100);
textarea.keypress(updateLastTypedTime);
textarea.blur(refreshTypingStatus);

</script>
{% endblock %}