{%load static %}
<!-- <b>Architectuire name:</b>{{arch_info.architecture_name}}<br>
 -->
 <div class="card blog-post profile-view z-depth-1 " id="main-arch-image">

<div class="bp-header featured-img">

{%if arch_info.feature_img %}
   
     <img src="/../static/media/{{arch_info.feature_img}}" alt="" style="">
    
{%else%}
   
     <img src="/../static/media/{{arch_info.architecture_img}}" alt="" style="">
        
    
{%endif%}


    <div class="bp-title bgm-blue" style="height:200px;">
        <h4 class="archname" style="color:#fff;">{{arch_info.architecture_name}}</h4>
       
        <p style="font-size:18px;"><b>$</b> {{plan_info.total_plan_price}}</p>


        <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="instance" title="instance" data-original-title="Instance">
        
        <img  src="{% static 'img/featured-arch/Instance.png'%}" 
        style="width:20px"  alt="instance"/> :
          <b> &nbsp;{{plan_info.instance_count}}</b>
        </p>

        <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="Database" title="Database" data-original-title="Database">
            <img src="{% static 'img/featured-arch/Database.png'%}"  alt="" style="width:20px"> :
            <b>&nbsp;{{plan_info.rds_count}}</b>
        </p>

        <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="Storage" title="Storage" data-original-title="Storage">
            <img src="{% static 'img/featured-arch/Storage.png'%}"  alt="" style="width:20px"> :
                <b>&nbsp;{{plan_info.s3_count}}</b>
        </p>

         <p class="pull-left" style="width:90px;"
            data-toggle="popover" data-placement="top" data-content="Load Balancer" title="Load Balancer" data-original-title="Load Balancer">

            <img src="{% static 'img/featured-arch/Load_Balancer.png'%}"  alt="" style="width:20px">: 
            <b>&nbsp;{{plan_info.balancer_count}} </b>
        </p>

    </div>
</div>

                         <div class="p-20 bgm-blue bghov idtest1">
                        
                   <a href="/tco/architecture/" class="brd-2 arinfo" style="color:#fff;" ><b>&nbsp;BACK&nbsp;</b></a>

          

                    <a class="nextBtn launch-btn" href="/tco/payment/{{arch_info.architecture_name}}/" id="{{main_arch_json.architecture_name}}" style="color:#fff;float:right;" data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments" ><b>&nbsp;LAUNCH&nbsp;</b></a>

                
                    

                    </div>

 </div>







