{%extends "base.html"%}
{%load static%}
{% block content%}

<style type="text/css">
.actbtn{background-color: #2196f3;}
.ftrdv:hover{box-shadow: 0 3px 5px #5d6e7b, 0 3px 10px #5d6e7b;}

</style>
 
<head>
  
</head>


<div class="" id="main-container">  
<div class="stepwizard col-md-offset-3">
   

 <div class="stepwizard-row setup-panel">

     
       <!--  <a href="/tco/architecture/"> <<&nbsp;Prev </a> -->
        
      
      
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle actbtn" id="stp1">1</a>
        <p>Featured<br/>Architetctures</p>
      </div>

      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle actbtn" disabled="disabled" id="stp2">2</a>
        <p>Payment Plans</p>
      </div>

      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle actbtn" disabled="disabled" id="stp3">3</a>
        <p>Invoice Page</p>
      </div>

    </div>

  </div>


<!--end wizard  -->

<div class="container">

  <form role="form" action="" method="post">
    <div id="wizard_step1" class="">
      <div class="row setup-content" id="step-1">
        <div class="card" id="profile-main">
          
          


          <!--selected Architecture-->

          <div id="get-img-src">

            <div class="pm-overview c-overflow" > 
              <div class="pmo-block">
                         
                <h2 class="text-center p-t-20 f-18 ital">SELECTED ARCHITECTURE</h2>
                 <br/>

                <div class="card blog-post profile-view z-depth-1 scrollReveal sr-bottom sr-delay-1" id="main-arch-image">
                  
                    <div class="bp-header featured-img" >
                       

                        <img src="/../static/media/{{main_arch_json.architecture_img}}" alt="" style="">

                            <div class="pv-header">
                              
                              <img src="{% static 'img/applications/wordpress-logo.jpg' %}" class="pv-main" alt="">
                            
                            </div>

                        <div class="bp-title bgm-blue" style="height:200px;">
                            <h4 class="archname" style="color:#fff;">{{main_arch_json.architecture_name}}</h4>
                           
                                   
                            <p class="" style="font-size:18px;"><b>$</b> {{main_arch_json.total_plan_price}}</p>
                         
                                
                              <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="instance" title="instance" data-original-title="Instance">
                                <img src="{% static 'img/featured-arch/Instance.png'%}"
                                style="width:20px"  alt="" > : <b> &nbsp;{{main_arch_json.rds_count}}</b>
                                </p>



                            <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="Database" title="Database" data-original-title="Database"><img src="{% static 'img/featured-arch/Database.png'%}"  alt="" style="width:20px"/><b>&nbsp;&nbsp;&nbsp;{{main_arch_json.rds_count}}</b>
                            </p>

                             <p class="pull-left" style="width:90px;" data-toggle="popover" data-placement="top" data-content="Storage" title="Storage" data-original-title="Storage">
                                <img src="{% static 'img/featured-arch/Storage.png'%}"  alt="" style="width:20px"> :
                                 <b>&nbsp;{{main_arch_json.rds_count}}</b>
                              </p>

                              <p class="pull-left" style="width:90px;"
                                  data-toggle="popover" data-placement="top" data-content="Load Balancer" title="Load Balancer" data-original-title="Load Balancer"
                                >

                                <img src="{% static 'img/featured-arch/Load_Balancer.png'%}"  alt="" style="width:20px">

                                : <b>&nbsp;{{main_arch_json.rds_count}} </b>
                                </p>

                                 </div>

                        </div>

                  
                         <div class="p-20 bgm-blue bghov idtest1" id="">
                        
                   <a href="/tco/architecture/" class="brd-2 f-16" style="color:#fff;" ><b>&nbsp;BACK&nbsp;</b></a>
                    <a href="/tco/payment/{{main_arch_json.architecture_name}}" class="nextBtn launch-btn f-16" id="{{main_arch_json.architecture_name}}" style="color:#fff;float:right;" data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"><b>&nbsp;LAUNCH&nbsp;</b></a>
                    </div>
                </div>


          <!-- <div class="p-t-0 p-l-5 p-r-5 bghov" >

            <strong><a class="p-10 bgm-blue" href="/tco/architecture/" style="float:left;color:#fff;border-radius:2px;"><b>&nbsp;&nbsp;&nbsp;<span class="tm-label">BACK</span>&nbsp;&nbsp;&nbsp;</b>
            </a></strong>
                            
        <a class="nextBtn p-10 tm-label btn btn-success launch-btn" 
       href="/tco/payment/{{main_arch_json.architecture_name}}/" 
       id="{{main_arch_json.architecture_name}}" style="float:right;color:#fff;border-radius:2px;" data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"><b>&nbsp;LAUNCH&nbsp;</b>
            </a>
                
          </div> -->

              </div>          
            </div>
          </div>

        <!--end selected Architecture  -->



        <!--featured Architecture  -->

        <div class="pm-body clearfix">
          <ul class="">
          </ul><br>

          <h4 class="text-center f-20 ital">FEATURED ARCHITECTURES</h4>

            <div class="pmb-block" id="ftrd_img_clk_chng">
              <div class="pmbb-body">

             {% for x in ftrd_arch_json %}

                <div class="col-sm-4 scrollReveal sr-bottom sr-delay-1 p-t-5" >
                  
                  <div class="card blog-post profile-view z-depth-1 ftrdv">
                    
                    <div class="bp-header">
                        <img src="/../static/media/{{x.feature_img}}" alt="" id="{{x.architecture_name}}" class ="ftrd-img" alt="" data-toggle="modal" href="#modalDefault{{x.id}}">

                          <div class="pv-header">
                              
                              <img src="{% static 'img/applications/wordpress-logo.jpg' %}" class="pv-main" alt="" />

                          </div> 
                              <a class="bp-title bgm-blue" style="height:60px;"> 
                               <h2 style="font-color:white;font-size:16px;">{{x.architecture_name}}</h2><br/>
  
                              </a>

                   </div>
                            
                    <div class="p-20 bgm-blue bghov idtest1">
                        
                   <a data-toggle="modal" href="#modalDefault{{x.id}}" id="{{x.architecture_name}}" class="brd-2 arinfo f-14" style="color:#fff;" ><b>&nbsp;INFO&nbsp;</b></a>

                     <!-- <a class="md-trigger" data-modal="modal-15" id="{{x.architecture_name}}" style="color:#fff;">
                    <b>INFO</b>
                    </a> -->

                    <a class="pv-follow-btn selectbtn f-14" id="{{x.architecture_name}}" style="color:#fff;float:right;" data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"><b>&nbsp;SELECT&nbsp;</b></a>

                
                    

                    </div>

                </div>

                   
 

</div>

                    {%endfor%}

        <!--end featured Architecture  -->




              <!--deafault selected main arch  -->

                  <div class="col-sm-4 scrollReveal sr-bottom sr-delay-1"  id="{{i.id}}" style="">

                  <div class="card blog-post profile-view z-depth-1 mymain ftrdv">
                    
                    <div class="bp-header">
                        <img src="/../static/media/{{ main_arch_json.architecture_img }}" alt=""  alt="" class ="ftrd-img" id="{{main_arch_json.architecture_name}}" data-toggle="modal" href="#modalDefault{{i.id}}">

                          <div class="pv-header">
                              
                              <img src="{% static 'img/applications/wordpress-logo.jpg' %}" class="pv-main" alt="">

                          </div> 
                                    
                        <a class="bp-title bgm-blue" style="height:60px;">
                            <h2 style="font-color:white;font-size:16px;">{{main_arch_json.architecture_name}}</h2><br/>


                    </div>
                            
                    <div class="p-20 bgm-blue bghov">
                    
                    <a id="{{i.architecture_name}}" data-toggle="modal" href="#modalDefault{{i.id}}" class="brd-2 arinfo f-16" style="color:#fff;" ><b>&nbsp;INFO&nbsp;</b></a>

                    <!-- <a class="md-trigger" data-modal="modal-15" id="{{main_arch_json.architecture_name}}" style="color:#fff;">
                    <b>INFO</b>
                    </a> -->

                    <a class="pv-follow-btn selectbtn f-16" 
                    id="{{main_arch_json.architecture_name}}" style="color:#fff;float:right;" data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"><b>SELECT</b></a>

                   

                       

                    </div>

                </div>

       


                  </div>
                </div>                   
              </div>                   
              
          </div>   


        </div>
   </div>
 </div>

</div>

{% for x in ftrd_arch_json %}
 <div class="modal fade" id="modalDefault{{x.id}}" tabindex="-1" role="dialog" aria-hidden="true">

                 <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header bgm-yell">
                  <h4 class="modal-title c-white f-20 text-center"> {{x.architecture_name}}
                  <a class="btn btn-link f-400 c-white p-t-0" data-dismiss="modal" style="float:right;font-size:22px">X</a></h4> 
                  
                   
              </div>
                                     

            <div class="modal-body p-0">
             
              
                <div class="p-0">
                  <img  src="/../static/media/{{x.feature_img}}" style="display:block;margin:auto;" width="520px;" height="350px;"   class="nextBtn btn-lg " data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"/>
                </div>

                 <div class="bgm-blue c-white">
                 <p class="p-l-15 p-5">Description about this Architecture will be displayed here</p></div>

            <div class="col-md-12">
                         <div class="col-md-6 p-l-0 p-r-5">
                            <ul class="p-l-5">

            <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Instance_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Instance) &nbsp;:</strong> &nbsp;
              <ul class="">
                 
                {%for instance in x.instance_name %}
                  <li>
                    {{instance.0}}
                   </li>
                  {%endfor%}
                </ul>
            </li>
            
 <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/Storage_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Storage) &nbsp;:</strong>&nbsp; 
              <ul class="">
              
                {%for instance in x.s3_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>

              </li>
           

</ul></div>
      <div class="col-md-6 p-l-0 p-r-5">    

<ul class="p-r-0">
 <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Database_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Database) &nbsp;:</strong> &nbsp;
                  <ul class="">
                  
                {%for instance in x.rds_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>
            </li>
           

            <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/LoadBalancer_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Load_Balancer)&nbsp; :</strong>
              <ul class="">
              
                {%for instance in x.balancer_name %}
                  <li>
                    {{instance.0}}
                 </li>
                 {%endfor%}
                </ul> 
               
              </li>


           <!--  <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/Description_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;(Description)&nbsp; :</strong> click on the button below modal.</li> -->

          </ul></div>
          </div>
                                           
                                          </div>



                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endfor %}



<!-- Model -->


 <div class="modal fade" id="modalDefault{{i.id}}" tabindex="-1" role="dialog" aria-hidden="true">

                 <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header bgm-yell">
                  <h4 class="modal-title c-white f-20 text-center"> {{main_arch_json.architecture_name}}
                  <a class="btn btn-link f-400 c-white p-t-0" data-dismiss="modal" style="float:right;font-size:22px">X</a></h4> 
                  
                   
              </div>
                                     

            <div class="modal-body p-0">
             
              
                <div class="p-0">
                  <img  src="/../static/media/{{ main_arch_json.architecture_img }}" style="display:block;margin:auto;" width="520px;" height="350px;"   class="nextBtn btn-lg " data-type="inverse"  data-from="top" data-align="right" data-icon="fa fa-comments"/>
                </div>

                 <div class="bgm-blue c-white">
                 <p class="p-l-15 p-5">Description about this Architecture will be displayed here</p></div>

            <div class="col-md-12">
                         <div class="col-md-6 p-l-0 p-r-5">
                            <ul class="p-l-5">

            <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Instance_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Instance) &nbsp;:</strong> &nbsp;
              <ul class="">
                 
                {%for instance in main_arch_json.instance_name %}
                  <li>
                    {{instance.0}}
                   </li>
                  {%endfor%}
                </ul>
            </li>
            
 <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/Storage_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Storage) &nbsp;:</strong>&nbsp; 
              <ul class="">
              
                {%for instance in main_arch_json.s3_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>

              </li>
           

</ul></div>
      <div class="col-md-6 p-l-0 p-r-5">    

<ul class="p-r-0">
 <li class="list-inst" style="list-style:none;"><strong><img src="{% static 'img/featured-arch/Database_color.png' %}" style="height:20px;width:20px;">&nbsp;&nbsp;(Database) &nbsp;:</strong> &nbsp;
                  <ul class="">
                  
                {%for instance in main_arch_json.rds_name %}
                  <li>
                    {{instance.0}}
                 </li>
                  {%endfor%}
                </ul>
            </li>
           

            <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/LoadBalancer_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;&nbsp;(Load_Balancer)&nbsp; :</strong>
              <ul class="">
              
                {%for instance in main_arch_json.balancer_name %}
                  <li>
                    {{instance.0}}
                 </li>
                 {%endfor%}
                </ul> 
               
              </li>


           <!--  <li class="list-inst" style="list-style:none;"><img src="{% static 'img/featured-arch/Description_color.png' %}" style="height:20px;width:20px;"><strong>&nbsp;(Description)&nbsp; :</strong> click on the button below modal.</li> -->

          </ul></div>
          </div>
                                           
                                          </div>



                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


<!-- End model -->



 
       
<!-- animation and preloader js -->

  <script src="{% static 'js/js/vendor/jquery-2.1.4.min.js' %}"></script>
  
 
  <script src="{% static 'js/js/vendor/scrollreveal.min.js' %}"></script>
  <script src="{% static 'js/js/scripts.js' %}"></script>





 <script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>

<script src="{% static 'js/jquery.browser.js' %}"> 
</script>


<script>
$(document).ready(function () {

if ($.browser.msie) {
  if ($.browser.version < 9.0){
    alert("helloo")
    window.location = '/tco/warning/';   
  }
  
}

});
</script>


    
    

       {%endblock%}


