{%extends "logbase.html"%}

{% load i18n %}

{%block content%}

{% load static %}
<head>
    <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
</head>

<div class="ld-block toggled" id="l-register">

    <a href="/tco/architecture/" style="font-size:18px">
       <img src="{% static 'img/login-logo.svg' %}" alt="client" style="width:145px;">
    </a>

 <div class="row">
    <div class="card-header">
        <h2>Welcome to the Cloud-TCO Help center <small>Flexible plugin that utilizes a handful of classes for easy toggle behavior.</small></h2>
    </div>

    <div class="col-sm-12 m-b-25">
            
    <div class="panel-group" data-collapse-color="red" id="accordionRed" role="tablist" aria-multiselectable="true">
            
            
            <div class="panel panel-collapse">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        
                        <a data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-one" aria-expanded="true">
                        Collapse Blue #1
                                                    </a>
                                                </h4>
                                            </div>
                    
                    <div id="accordionRed-one" class="collapse in" role="tabpanel">
                    
                    <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                </div>
            </div>
        </div>

        <div class="panel panel-collapse">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-two" aria-expanded="false">
                        Collapse Red #2
                    </a>
                </h4>
            </div>
            <div id="accordionRed-two" class="collapse" role="tabpanel">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                </div>
            </div>
        </div>

        <div class="panel panel-collapse">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-three" aria-expanded="false">
                        Collapse Red #3
                    </a>
                </h4>
            </div>
            <div id="accordionRed-three" class="collapse" role="tabpanel">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                </div>
            </div>
        </div>

        <div class="panel panel-collapse">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-four" aria-expanded="false">
                        Collapse Red #4
                    </a>
                </h4>
            </div>
            <div id="accordionRed-four" class="collapse" role="tabpanel">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                </div>
            </div>
        </div>

        <div class="panel panel-collapse">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionRed" href="#accordionRed-five" aria-expanded="false">
                        Collapse Red #5
                    </a>
                </h4>
            </div>
            <div id="accordionRed-five" class="collapse" role="tabpanel">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
                </div>
            </div>
        </div>



    </div>
</div>
</div>
                                {% endblock %}
