{%extends "stepbase.html"%}
{%load static%}
{% block content%}



<div class="chapter" id="getting-started-cleanup"><div class="titlepage"><div><div><h1 class="topictitle">Step 7: Clean Up Your Resources</h1></div></div></div><p>If you created your static website as a learning exercise only, be sure to delete the AWS resources that 
      you allocated so that you no longer accrue charges. After you delete your AWS resources, your website 
      is no longer available.</p><div class="highlights"><p><strong>Tasks</strong></p><ul><li>
      <a href="/tco/step7_53host/">Delete the Amazon Route&nbsp;53 Hosted Zone</a></li><li>
      <a href="/tco/step7_cleanup_cloudfront/">Delete the CloudFront Distribution</a></li><li>
      <a href="/tco/step7_cleanup_s3/">Delete the Amazon S3 Bucket</a></li></ul></div></div>


{%endblock%}

