{%extends "profilebase.html"%}
{%load static%}
<style>
.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}


</style>

{% block content%}



<section id="main">

    <section id="content">
        <div class="container">
                    
            <div class="block-header">
                <h2>{{request.user.username}} <small>{{request.user.email}}</small></h2>
            </div> 
                    
            <div class="card" id="profile-main">


            <!-- profile photo section-->

                <div class="pm-overview c-overflow">
                    <div class="pmo-pic">

                        {%for c in custom%}
                        <div class="p-relative">
                            <a>
                                {%if c.profile_img %}
                                <img class="img-responsive" src="/static/media/{{c.profile_img}}" alt="">
                                {%else%}

                                <img class="img-responsive" 
                                src="{% static 'img/profile-pics/8.jpg' %}" alt=""> 
                                {%endif%}
                                
                            </a>
                            
 
                            <div class="pmop-edit">
                            <input type="file" name="imageUpload" id="imageUpload" class="hide"/> 
            <label for="imageUpload" class="button-style"> <i class="zmdi zmdi-camera"></i><span class="hidden-xs">Update Profile Picture</span></label>
            </div>
                        </div>
                        
                    </div>
                    
                    <div class="pmo-block pmo-contact">
                        <h2>Contact</h2>

                         {%for c in custom%}
                        <ul>
                            <!-- <li><i class="zmdi zmdi-phone"></i> 1234567890</li> -->
                            <li><i class="zmdi zmdi-email"></i> {{request.user.email}}</li>
                            <li><i class="zmdi zmdi-facebook-box"></i> {{c.facebook}}</li>

                            <li><i class="zmdi zmdi-twitter"></i> {{c.twitter}}</li>

                            <li>
                                <i class="zmdi zmdi-pin"></i>
                                <address class="m-b-0 ng-binding">
                                    44-46 Morningside Road,<br>
                                    {{c.city}},<br>
                                    {{c.state}},<br>
                                    {{c.country}}-{{c.zip_code}}.
                                </address>
                            </li>
                        </ul>
                         {% endfor %}

                    </div>
                    

                </div>
            
            <!--end photo section-->


        <!-- edit profile section -->

    <div class="pm-body clearfix">

        <ul class="tab-nav tn-justified">
            <li class="active waves-effect"><a>USER PROFILE</a></li>
            <li class="waves-effect"><a href="/tco/dashboard/">Dashboard</a></li>
            <li class="waves-effect"><a href="/tco/monitoring/">Launched Architectures</a></li>
            
        </ul>

        <div class="pmb-block">
                                
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                    </li>
                </ul>
            </div>


            {%for u in user%}
                                
                <div class="pmbb-body p-l-30">


                    <div class="pmbb-view">
                        <dl class="dl-horizontal">
                            <dt>User Name:</dt>
                            <dd>{{u.username}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Email Address:</dt>
                            <dd>{{u.email}}</dd>
                        </dl>
                       <!--  <dl class="dl-horizontal">
                            <dt>Mobile Number</dt>
                            <dd>{{phone}}</dd>
                        </dl> -->    
                    </div>

                    <form action="#" method="post" id="myform">   
                        {% csrf_token %}
                            <span></span>

                    <div id="profile-edit-error-msg"></div>

                    <div class="pmbb-edit">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Full Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input type="text" class="form-control" placeholder="eg. Mallinda Hollaway" name="username" value="{{u.username}}" id="username-edit">
                                </div>
                                
                            </dd>
                        </dl>

                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Email Address:</dt>
                            <dd>
                                 <div class="fg-line">
                                    <input type="email" class="form-control" name="email" placeholder="email address" value="{{u.email}}" id="email-edit">
                                </div>
                            </dd>
                        </dl>
                     
                        
                        <div class="m-t-30">
                            <button type="submit" name="submit" class="btn btn-primary btn-sm">Save</button>
                            <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                        </div>

                    </div>

                    </form>

                {%endfor%}

                </div>

        </div>

                       
                        
        <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>
                
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-pmb-action="edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


        {%for c in custom%}
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
  
                    <dl class="dl-horizontal">
                        <dt>Mobile Number</dt>
                        <dd>{{c.phone_number}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Twitter</dt>
                        <dd>{{c.twitter}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Skype</dt>
                        <dd>{{c.skype}}</dd>
                    </dl>

                </div>
                           

            

            <form action="#" method="post" id="contactform">   
                
                {% csrf_token %}
                <span></span>

                <div class="pmbb-edit">

                   <dl class="dl-horizontal">
                        <dt class="p-t-10">Mobile Phone</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="mobile" placeholder="eg. 9876598765" value="{{c.phone_number}}" id="mobile-edit">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Twitter</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="twitter" placeholder="eg. @username" id="twitter-edit" value="{{c.twitter}}">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Skype</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="skype" placeholder="eg. username" id="skype-edit" value="{{c.skype}}">
                            </div>
                        </dd>
                    </dl>
                    
                    <div class="m-t-30">
                        <button type="submit" name="submit" class="btn btn-primary btn-sm">Save</button>

                        <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                    </div>

                </div>

            </form>   

            

            </div>
        {% endfor %}
        </div>


  <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-pin zmdi-hc-fw"></i>Edit Address</h2>
                
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-pmb-action="edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                   
                </div>
            <form action="#" method="post" id="addressform">   
                    {% csrf_token %}

                <div class="pmbb-edit">


                    <dl class="dl-horizontal">
                        <dt class="p-t-10">City</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="city" value="{{c.city}}" placeholder="eg. Hyderabad"  id="city-edit">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">State</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="state" value="{{c.state}}" placeholder="eg. Telangana"  id="state-edit">
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal">
                        <dt class="p-t-10">Pincode</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="pincode" value="{{c.zip_code}}" placeholder="eg.500082"  id="pin-edit">
                            </div>
                        </dd>
                    </dl>

                     <dl class="dl-horizontal">
                        <dt class="p-t-10">Country</dt>
                        <dd>
                            <div class="fg-line">
                                <input type="text" class="form-control" name="country" value="{{c.country}}" placeholder="eg.India"  id="country-edit">
                            </div>
                        </dd>
                    </dl>




                    <div class="m-t-10">
                        <button class="btn btn-primary btn-sm">Save</button>
                        <button data-pmb-action="reset" class="btn btn-link btn-sm">Cancel</button>
                    </div>

                </div>

            </form>


            </div>
        {% endfor %}                    
        </div> 


  <div class="pmb-block">
            <div class="pmbb-header">
                <h2><i class="zmdi zmdi-pin-account zmdi-hc-fw"></i>Edit profilepic</h2>
                
                <ul class="actions">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-pmb-action="edit" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    
                </div> 

 <div class="pmbb-edit">
<form method="POST" action="#" enctype="multipart/form-data">
{% csrf_token %}  
{{form.errors}}
{{form}}<br/>
<input type="submit" value="Upload">


</form> 


</div>
        </div> 

         <div class="pmb-block">

            <form method="post" action="/tco/keys/download/" id="acesskey_download">
                {% csrf_token %}

                <p>Please click here to download your key &nbsp;&nbsp;&nbsp;
                 <button class="btn btn-primary btn-icon btn-large" type="submit" id="download_csv"><i class="zmdi zmdi-download zmdi-hc-fw"></i></button>
                </p>
                                    
            </form>

        </div>



    </div>
            
            <!-- end edit profile section -->

        </div>
    </div>
</section>

        {% endblock %}