{%extends "base.html"%}
{%load static%}
{% block content%}

  <div class="" id="main-container">  
    <div class="" id="profile-main" style="background-color:#f8f8f8;">

           <div class="pmb-block">
              <div class="pmbb-body clearfix">
                            

                <div role="tabpanel">
                 

                  <ul class="tab-nav tab-nav-left" role="tablist">

                      <li class="active" role="presentation"><a href="#profile1" aria-controls="profile1" role="tab" data-toggle="tab">Verticals</a></li>

                      <!-- <li role="presentation"><a href="#messages1" aria-controls="messages1" role="tab" data-toggle="tab">Application</a></li>

                      <li role="presentation"><a href="#home1" aria-controls="home1" role="tab" data-toggle="tab">Vertical</a></li> -->
                  
                  </ul>
                     


              <div class="tab-content">
                  
            <!--start verticals  -->

            <div role="tabpanel" class="tab-pane active" id="home1">
                                        
                        <div class="row m-t-25">
                       
                        <div class="col-sm-4 verticle scrollReveal sr-left">
                           <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-amber">
                                   <!-- <img src="img/verticals/retail.svg" alt="Retail" style="height:100px; width:155px;"> -->
                                 <object data="{% static 'img/verticals/Rup.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>

                                <div class="ptih-title">Financial Services</div>
                                </div>
                
                                <div class="pti-body">
                                    <div class="ptib-item">
                                        Financial grid
                                    </div>
                                    <div class="ptib-item">
                                       Elastic Map Reduce System
                                    </div>
                                    <div class="ptib-item">
                                        DR Service 
                                    </div>
                                    <div class="ptib-item">
                                        Credit Services Infra
                                    </div>
                                     <div class="ptib-item">
                                        SALESFORCE
                                    </div>
                                    
                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>
                
                        <div class="col-sm-4 verticle scrollReveal sr-bottom">
                          <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-blue">
                                    <!-- <h2>$25 <small>| mo</small></h2> -->
                                    <object data="{% static 'img/verticals/Shopping.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>
                                    <div class="ptih-title">Retail Services</div>
                                </div>
                
                                <div class="pti-body">
                                    <div class="ptib-item">
                                          Web Front-End Service
                                    </div>
                                    <div class="ptib-item">
                                        Check Out Service 
                                    </div>
                                    <div class="ptib-item">
                                        Marketing & Recommendation Service
                                    </div>
                                    <div class="ptib-item">
                                        Above all 3 in one go

                                    </div>
                                    <div class="ptib-item">
                                        SALESFORCE
                                    </div>
                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-blue"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>
                



                        <div class="col-sm-4 verticle scrollReveal sr-right">
                           <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-cyan">
                                  <object data="{% static 'img/verticals/Medi.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>
                                    <div class="ptih-title">Health Care</div>
                                </div>
                
                                <div class="pti-body">
                                    <div class="ptib-item">
                                       HRMS System
                                    </div>
                                    <div class="ptib-item">
                                       HIS System
                                    </div>
                                    <div class="ptib-item">
                                       EMR System
                                    </div>
                                    <div class="ptib-item">
                                        APP PORTAL'S
                                    </div>
                                    <div class="ptib-item">
                                        SALESFORCE
                                    </div>
                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                            </div>

                        </div>
                   </div>
                  



                    <div class="row m-t-25">
                       
                        <div class="col-sm-4 verticle scrollReveal sr-left">
                          <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-lime">
                                   <!-- <img src="img/verticals/retail.svg" alt="Retail" style="height:100px; width:155px;"> -->
                                 <object data="{% static 'img/verticals/Logist.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>



                                    <div class="ptih-title">Logistics</div>
                                </div>
                
                                <div class="pti-body">
                                    
                                    
                                    <div class="ptib-item">
                                        GPS Tracking
                                    </div>
                                    <div class="ptib-item">
                                       Logistic Portal
                                    </div>
                                    <div class="ptib-item">
                                        BCP service
                                    </div>
                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-lime"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                             </div>
                        </div>
                                      
                
                        <div class="col-sm-4 verticle">
                          <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-orange">
                                    <!-- <h2>$25 <small>| mo</small></h2> -->
                                    <object data="{% static 'img/verticals/Law.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>
                                    <div class="ptih-title">Legal</div>
                                </div>
                
                                <div class="pti-body">
                                    <div class="ptib-item">
                                        ERP System
                                    </div>
                                    <div class="ptib-item">
                                       ARCHIVE System
                                    </div>
                                    <div class="ptib-item">
                                        DR Service
                                    </div>
                                   
                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-orange"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>


                         <div class="col-sm-4 verticle scrollReveal sr-right">
                           <div class="bs-item z-depth-2">
                            <div class="card pt-inner">
                                <div class="pti-header bgm-green">
                                    <!-- <h2>$25 <small>| mo</small></h2> -->
                                    <object data="{% static 'img/verticals/Govt.svg' %}" type="image/svg+xml" style="height:100px; width:155px;"></object>
                                    <div class="ptih-title">Government</div>
                                </div>
                
                                <div class="pti-body">
                                    
                                    
                                    <div class="ptib-item">
                                       GST Services
                                    </div>
                                    <div class="ptib-item">
                                        SAP Services
                                    </div>
                                    <div class="ptib-item">
                                       GRC Services
                                    </div>

                                </div>
                
                                <div class="pti-footer">
                                    <a class="bgm-green"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                  </div>



                              
          </div>
        </div>

      </div>
    </div>


    </div>
</div>





       {%endblock%}


